<body style="background-color: rgb(182, 33, 33);">

    <div class="container-fluid">
        <div class="row g-3">
            <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12"></div>

            <nav class="navbar navbar-expand-lg" style="background-color: rgb(182, 33, 33);">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Food Hub</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="" routerLink="/">Home</a>
                            <a class="nav-link" routerLink="/orders">Order your food</a>

                        </div>
                    </div>
                </div>
            </nav>
